body {
    margin: 0;
    padding: 0;
    font-family: "Kanit", sans-serif;
}
.cointainer {
    width: 80%;
    text-align: center;
    margin: auto;
}
 /* hearder area start  */
 .header {
    background-image: url('images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: inset 0px 300px 50px 0px rgba(0, 0, 0, 0.469);
    border-radius: 20px;
    height: 490px;
    margin-top: 40px;
    margin-bottom: 80px;
 }
 .head-text-area {
    color:#ffffff;  
    padding-top:130px ;
 }
 .head-text-area h2 {
    font-size: 50px;
    margin-top: -10px;
    line-height: 60px;
 }
 .head-text-area h3 {
    font-size: 25px;
 }
 /* Header end  */
 /* offer-area Starts */
.off-text{
    color: red;
    font-size: 50px;
}
.hs-sell {
    color: red;
    font-size: 15px;
}
.hy-offer > h2 {
    font-size: 30px;
    margin-top: 0;
}
.ny-photo {
    height: 400px;
    width: 600px;
    margin-bottom: 80px;
}
/* p-night-area */
.p-night-area {
    background-image: url('images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    box-shadow: inset 300px 0px 69px 66px rgba(0, 0, 0, 0.76);
    border-radius: 20px;
    height: 490px;
    margin-top: 40px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-around;
}
.p-night-area h3 {
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 0;
}
.p-night-area p {
    font-weight: 200;
    color: #d0cdcd;
}
.pn-button {
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    background-color: transparent;
    border: none;
} 
.pn-content {
    color: #ffffff;
    width: 50%;
    text-align: left;
    padding-top: 40px;
}

.pn-content-photo img {
    width: 130px;
    padding-top: 50px;    
}
