body {
    margin: 0;
    padding: 0;
}
.cointainer {
    width: 80%;
    text-align: center;
    margin: auto;
}
 /* hearder area start  */
 .header {
    background-image: url('images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: inset 0px 300px 50px 0px rgba(0, 0, 0, 0.469);
    border-radius: 20px;
    height: 500px;
    margin-top: 40px;
 }
 .head-text-area {
    color:#ffffff;  
    padding-top:130px ;
 }
 .head-text-area h2 {
    font-size: 50px;
    margin-top: -10px;
 }
 .head-text-area h3 {
    font-size: 25px;
 }
 /* Header end  */
 